DEBUG=1
SECRET_KEY=staff_secret_key
DB_NAME=staff_db
DB_USER=root
DB_PASSWORD=123456
DB_HOST=mysql-staff
DB_PORT=3306
LAPTOP_SERVICE_URL=http://laptop-service:8003
MOBILE_SERVICE_URL=http://mobile-service:8004
SERVICE_TIMEOUT=10
TIME_ZONE=Asia/Ho_Chi_Minh
